# Spark: Getting Started
 * These instructions require a Mac with [Anaconda3](https://anaconda.com/) and [Homebrew](https://brew.sh/) installed.
 * Useful for small data only. For larger data, try [Databricks](https://databricks.com/).

## Step 0: Prerequisites & Installation

Run these commands in your terminal (just once).

```bash
# Make Homebrew aware of old versions of casks
brew tap caskroom/versions

# Install Java 1.8 (OpenJDK 8)
brew cask install adoptopenjdk8

# Install the current version of Spark
brew install apache-spark

# Install wget
brew install wget

# Install Py4J (connects PySpark to the Java Virtual Machine)
pip install py4j

# Add JAVA_HOME to .bash_profile (makes Java 1.8 your default JVM)
echo "export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)" >> ~/.bash_profile

# Add SPARK_HOME to .bash_profile
export SPARK_HOME=/usr/local/Cellar/apache-spark/2.4.3/libexec
echo "export SPARK_HOME=/usr/local/Cellar/apache-spark/2.4.3/libexec" >> ~/.bash_profile

# Add PySpark to PYTHONPATH
echp "export PYTHONPATH=$SPARK_HOME/python:$PYTHONPATH" >> ~/.ba

# Update current environment
source ~/.bash_profile

```

## Step 1: Create a SparkSession with a SparkContext

In [1]:
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [2]:
spark

In [3]:
sc

## Step 2: Download some Amazon reviews (Toys & Games)

DONE
Download data (run this only once)
!wget http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Toys_and_Games_5.json.gz
!gunzip reviews_Toys_and_Games_5.json.gz

## Step 3: Create a Spark DataFrame

In [27]:
#Notice this is a local file. There are computer clusters don't have local files so be careful.
df = spark.read.json('reviews_Toys_and_Games_5.json')

In [5]:
#look at schema
df

DataFrame[asin: string, helpful: array<bigint>, overall: double, reviewText: string, reviewTime: string, reviewerID: string, reviewerName: string, summary: string, unixReviewTime: bigint]

In [6]:
df.limit(5).show()

+----------+-------+-------+--------------------+-----------+--------------+--------------+--------------------+--------------+
|      asin|helpful|overall|          reviewText| reviewTime|    reviewerID|  reviewerName|             summary|unixReviewTime|
+----------+-------+-------+--------------------+-----------+--------------+--------------+--------------------+--------------+
|0439893577| [0, 0]|    5.0|I like the item p...|01 29, 2014|A1VXOAVRGKGEAK|         Angie|      Magnetic board|    1390953600|
|0439893577| [1, 1]|    4.0|Love the magnet e...|03 28, 2014| A8R62G708TSCM|       Candace|it works pretty g...|    1395964800|
|0439893577| [1, 1]|    5.0|Both sides are ma...|01 28, 2013|A21KH420DK0ICA|capemaychristy|          love this!|    1359331200|
|0439893577| [0, 0]|    5.0|Bought one a few ...| 02 8, 2014| AR29QK6HPFYZ4|          dcrm|   Daughters love it|    1391817600|
|0439893577| [1, 1]|    4.0|I have a stainles...| 05 5, 2014| ACCH8EOML6FN5|          DoyZ|Great to have so ...|    1399248000|
+----------+-------+-------+--------------------+-----------+--------------+--------------+--------------------+--------------+

In [8]:
df.limit(5).toPandas()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0439893577,"[0, 0]",5.0,I like the item pricing. My granddaughter want...,"01 29, 2014",A1VXOAVRGKGEAK,Angie,Magnetic board,1390953600
1,0439893577,"[1, 1]",4.0,Love the magnet easel... great for moving to d...,"03 28, 2014",A8R62G708TSCM,Candace,it works pretty good for moving to different a...,1395964800
2,0439893577,"[1, 1]",5.0,Both sides are magnetic. A real plus when you...,"01 28, 2013",A21KH420DK0ICA,capemaychristy,love this!,1359331200
3,0439893577,"[0, 0]",5.0,Bought one a few years ago for my daughter and...,"02 8, 2014",AR29QK6HPFYZ4,dcrm,Daughters love it,1391817600
4,0439893577,"[1, 1]",4.0,I have a stainless steel refrigerator therefor...,"05 5, 2014",ACCH8EOML6FN5,DoyZ,Great to have so he can play with his alphabet...,1399248000

In [15]:
#Instead of loading this file in over again every time we want to look at it, we'll use
df.persist()

DataFrame[asin: string, helpful: array<bigint>, overall: double, reviewText: string, reviewTime: string, reviewerID: string, reviewerName: string, summary: string, unixReviewTime: bigint]

In [16]:
df.head()

Row(asin='0439893577', helpful=[0, 0], overall=5.0, reviewText='I like the item pricing. My granddaughter wanted to mark on it but I wanted it just for the letters.', reviewTime='01 29, 2014', reviewerID='A1VXOAVRGKGEAK', reviewerName='Angie', summary='Magnetic board', unixReviewTime=1390953600)

In [18]:
pf = df.toPandas()

In [19]:
pf.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0439893577,"[0, 0]",5.0,I like the item pricing. My granddaughter want...,"01 29, 2014",A1VXOAVRGKGEAK,Angie,Magnetic board,1390953600
1,0439893577,"[1, 1]",4.0,Love the magnet easel... great for moving to d...,"03 28, 2014",A8R62G708TSCM,Candace,it works pretty good for moving to different a...,1395964800
2,0439893577,"[1, 1]",5.0,Both sides are magnetic. A real plus when you...,"01 28, 2013",A21KH420DK0ICA,capemaychristy,love this!,1359331200
3,0439893577,"[0, 0]",5.0,Bought one a few years ago for my daughter and...,"02 8, 2014",AR29QK6HPFYZ4,dcrm,Daughters love it,1391817600
4,0439893577,"[1, 1]",4.0,I have a stainless steel refrigerator therefor...,"05 5, 2014",ACCH8EOML6FN5,DoyZ,Great to have so he can play with his alphabet...,1399248000

We'll look at product id `asin` and `overall`

In [30]:
reviews_df = df[['asin', 'overall']]

In [31]:
reviews_df.head()

Row(asin='0439893577', overall=5.0)

In [32]:
reviews_df.limit(3)

DataFrame[asin: string, overall: double]

In [33]:
def show(df, n=5):
    '''load portion of json dataframe into a pandas dataframe'''
    return df.limit(n).toPandas()

In [34]:
show(reviews_df)

         asin  overall
0  0439893577      5.0
1  0439893577      4.0
2  0439893577      5.0
3  0439893577      5.0
4  0439893577      4.0

In [38]:
sorted_review_df = reviews_df.sort('overall')

In [39]:
show(sorted_review_df)

         asin  overall
0  B000ZLZ1NU      1.0
1  B0010SGZEG      1.0
2  B0010AYFPU      1.0
3  B000Z9FT0M      1.0
4  B0010EJGSC      1.0

In [40]:
import pyspark.sql.functions as F

Let's use sql language to return what we want. This has the advantage over pandas in that you can access data of unlimited size if it's within our cluster, while pandas needs to access it all locally. Let's find out the values_count of sorted_review.

In [44]:
query = '''
SELECT overall, COUNT (*)
FROM reviews
GROUP BY overall'''

In [42]:
reviews_df.createOrReplaceTempView('reviews')

In [45]:
output = spark.sql(query)

In [46]:
show(output)

   overall  count(1)
0      1.0      4707
1      4.0     37445
2      3.0     16357
3      2.0      6298
4      5.0    102790

In [47]:
reviews_df.rdd

MapPartitionsRDD[70] at javaToPython at NativeMethodAccessorImpl.java:0

In [48]:
df.rdd

MapPartitionsRDD[75] at javaToPython at NativeMethodAccessorImpl.java:0

Recall that Spark objects are immutable, while pandas are not.

In [49]:
row_one = df.first()

In [50]:
row_one

Row(asin='0439893577', helpful=[0, 0], overall=5.0, reviewText='I like the item pricing. My granddaughter wanted to mark on it but I wanted it just for the letters.', reviewTime='01 29, 2014', reviewerID='A1VXOAVRGKGEAK', reviewerName='Angie', summary='Magnetic board', unixReviewTime=1390953600)

In [51]:
row_one['reviewText']

'I like the item pricing. My granddaughter wanted to mark on it but I wanted it just for the letters.'

How many words in `row_one` `reviewText`?

In [52]:
def word_count(text):
    return len(text.split())

In [53]:
word_count(row_one['reviewText'])

20

Let's try to count the words in all the reviews

In [60]:
review_text_col = df['reviewText']

In [55]:
df.withColumn?

Signature: df.withColumn(colName, col)
Docstring:
Returns a new :class:`DataFrame` by adding a column or replacing the
existing column that has the same name.

The column expression must be an expression over this DataFrame; attempting to add
a column from some other dataframe will raise an error.

:param colName: string, name of the new column.
:param col: a :class:`Column` expression for the new column.

>>> df.withColumn('age2', df.age + 2).collect()
[Row(age=2, name='Alice', age2=4), Row(age=5, name='Bob', age2=7)]

.. versionadded:: 1.3
File:      /anaconda3/envs/learn-env/lib/python3.6/site-packages/pyspark/sql/dataframe.py
Type:      method

In [56]:
F.udf?

Signature: F.udf(f=None, returnType=StringType)
Docstring:
Creates a user defined function (UDF).

.. note:: The user-defined functions are considered deterministic by default. Due to
    optimization, duplicate invocations may be eliminated or the function may even be invoked
    more times than it is present in the query. If your function is not deterministic, call
    `asNondeterministic` on the user defined function. E.g.:

>>> from pyspark.sql.types import IntegerType
>>> import random
>>> random_udf = udf(lambda: int(random.random() * 100), IntegerType()).asNondeterministic()

.. note:: The user-defined functions do not support conditional expressions or short circuiting
    in boolean expressions and it ends up with being executed all internally. If the functions
    can fail on special rows, the workaround is to incorporate the condition into the functions.

.. note:: The user-defined functions do not take keyword arguments on the calling side.

:param f: python function if used as a standalone function
:param returnType: the return type of the user-defined function. The value can be either a
    :class:`pyspark.sql.types.DataType` object or a DDL-formatted type string.

>>> from pyspark.sql.types import IntegerType
>>> slen = udf(lambda s: len(s), IntegerType())
>>> @udf
... def to_upper(s):
...     if s is not None:
...         return s.upper()
...
>>> @udf(returnType=IntegerType())
... def add_one(x):
...     if x is not None:
...         return x + 1
...
>>> df = spark.createDataFrame([(1, "John Doe", 21)], ("id", "name", "age"))
>>> df.select(slen("name").alias("slen(name)"), to_upper("name"), add_one("age")).show()
+----------+--------------+------------+
|slen(name)|to_upper(name)|add_one(age)|
+----------+--------------+------------+
|         8|      JOHN DOE|          22|
+----------+--------------+------------+

.. versionadded:: 1.3
File:      /anaconda3/envs/learn-env/lib/python3.6/site-packages/pyspark/sql/functions.py
Type:      function

In [61]:
from pyspark.sql.types import IntegerType
word_count_udf = F.udf(word_count, IntegerType())

In [63]:
counts_df = df.withColumn('wordcount', word_count_udf(review_text_col))

In [64]:
counts_df.head()

Row(asin='0439893577', helpful=[0, 0], overall=5.0, reviewText='I like the item pricing. My granddaughter wanted to mark on it but I wanted it just for the letters.', reviewTime='01 29, 2014', reviewerID='A1VXOAVRGKGEAK', reviewerName='Angie', summary='Magnetic board', unixReviewTime=1390953600, wordcount=20)

### Let's use sql language!

In [71]:
df.createOrReplaceTempView('reviews')
spark.udf.register('word_count', word_count)

In [73]:
query = '''SELECT asin
, overall
, reviewText
, word_count(reviewText)
FROM reviews'''

In [74]:
counts_df = spark.sql(query)

### Steps:
1. create python function <br>
def show(df, n=5): <br>
    '''load portion of json dataframe into a pandas dataframe''' <br>
    return df.limit(n).toPandas() <br>
2. wrap it with something <br>
import pyspark.sql.functions as F <br>
from pyspark.sql.types import IntegerType <br>
word_count_udf = F.udf(word_count, IntegerType()) <br>
3. Create name for the dataframe <br>
df.createOrReplaceTempView('reviews') <br>
4. Register that function <br>
spark.udf.register('word_count', word_count) <br>

In [75]:
def count_all_the_things(text):
    return [len(text.split), len(tect.split())]

In [77]:
from pyspark.sql.types import ArrayType, IntegerType
count_udf = F.udf(count_all_the_things, ArrayType(IntegerType()))

In [78]:
counts_df = df.withColumn('counts', count_udf(df['reviewText']))

In [80]:
counts_df.limit(5)

DataFrame[asin: string, helpful: array<bigint>, overall: double, reviewText: string, reviewTime: string, reviewerID: string, reviewerName: string, summary: string, unixReviewTime: bigint, counts: array<int>]